@using Dfc.FindACourse.Common;
@using Dfc.FindACourse.Web.HtmlHelpers;
@using Dfc.FindACourse.Web.ViewModels.CourseDirectory;
@model Dfc.FindACourse.Web.ViewModels.CourseDirectory.CourseDetailViewModel;

@{
    ViewData["Title"] = "CourseDetails";
}

<link rel='stylesheet' href='/css/course-directory.css' type='text/css' media='all' />

    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="/">Home</a></li>
            <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="index">Find a course</a></li>

        </ol>
    </div>

    <a class="link-back mt" href="course-search">Back to results</a>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l" style="padding-top: 20px;">
                City & Guilds Intermediate Diploma in Plumbing
            </h1>
            <section id="1">

                <table class="govuk-table" role="presentation">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Qualification name</td>
                            <td class="govuk-table__cell">Level 2 Diploma in Plumbing Studies</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Entry requirements</td>
                            <td class="govuk-table__cell">
                                Plumbing L1, or working in the trade, or previous experience.

                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Cost</td>
                            <td class="govuk-table__cell">The course fee is £1275 (Plus £125 Exam Fee).<!-- <br>For those aged 16 to 18, courses are government funded--><br><a href="https://www.gov.uk/advanced-learner-loan/overview" target="_blank">Advanced Learner Loans maybe available</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Start date</td>
                            <td class="govuk-table__cell">10 September 2018</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Duration</td>
                            <td class="govuk-table__cell">35 weeks </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Full-time or part-time</td>
                            <td class="govuk-table__cell">Part-time</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Day, night or weekend</td>
                            <td class="govuk-table__cell">Normal working hours</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">Classroom or online</td>
                            <td class="govuk-table__cell">Classroom-based</td>
                        </tr>
                    </tbody>
                </table>
                <a target="_blank" href="https://www.newham.ac.uk/course-listing/city-guilds-intermediate-diploma-in-plumbing.html" role="button" class="govuk-button govuk-button--start">
                    Enrol now
                </a>
                <p class="enrol-text">on the provider’s website</p>
            </section>

            <section id="2">
                <h2 class="govuk-heading-m">Course description</h2>
                <p class="govuk-body govuk-!-font-size-19">
                    The qualification covers many areas within plumbing and domestic heating, such as hot and cold water supplies, sanitation and understanding health and safety within Building Services Engineering. Candidates will be assessed by on-demand multiple choice tests (available through the City & Guilds assessment platform e-volve) and practical assignments.
                </p>
                <p class="govuk-heading-s">What you’ll need to bring</p>
                <p class="govuk-body govuk-!-font-size-19">
                    No equipment required
                </p>
                <p class="govuk-heading-s">How you’ll be assessed</p>
                <p class="govuk-body govuk-!-font-size-19">
                    Exam & Course work based
                </p>
            </section>

            <div class="icons-buttons" style="margin-top: 80px">
                <h3 class="govuk-heading-m">Share this page</h3>
                <ul class="share-links">
                    <li>
                        <a target="_blank" href="https://twitter.com/intent/tweet?original_referer&amp;url=https%3A%2F%2Finsidegovuk.blog.gov.uk%2F2014%2F02%2F20%2Fgov-uk-social-sharing-buttons-the-first-10-weeks%2F&amp;text=GOV.UK+social+sharing+buttons%3A+the+first+10+weeks" class="twitter">Twitter</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Finsidegovuk.blog.gov.uk%2F2014%2F02%2F20%2Fgov-uk-social-sharing-buttons-the-first-10-weeks%2F" class="facebook">Facebook</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?url=https%3A%2F%2Finsidegovuk.blog.gov.uk%2F2014%2F02%2F20%2Fgov-uk-social-sharing-buttons-the-first-10-weeks%2F" class="linkedin">LinkedIn</a>
                    </li>
                    <li>
                        <a href="mailto:?subject=I wanted to share this post with you from Inside GOV.UK&amp;body=GOV.UK social sharing buttons: the first 10 weeks https://insidegovuk.blog.gov.uk/2014/02/20/gov-uk-social-sharing-buttons-the-first-10-weeks/" class="email">Email</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>


        </div>
        <div class="govuk-grid-column-one-third">

            <section id="6">
                <aside class="govuk-related-items" role="complementary">
                    <h2 class="govuk-heading-s" style="margin-top: 10px">Provider</h2>
                    <p class="govuk-body-s">Newham College of Further Education</p>
                    <hr>
                    <h2 class="govuk-heading-s" style="margin-top: 10px;padding-top: 10px">Venue</h2>
                    <table class="govuk-table" role="presentation">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-body-s">Name</td>
                                <td class="govuk-table__cell govuk-body-s"> Stratford campus</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-body-s" style="border-bottom: none">Address</td>
                                <td class="govuk-table__cell govuk-body-s" style="border-bottom: none">
                                    Welfare Road<br>
                                    Stratford<br>
                                    Greater London<br>
                                    E15 4HT<br>
                                    <a class="govuk-link" target="_blank" href="https://www.google.com/maps?q=51.540288,0.009541">Find on Google maps</a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="2">
                                    <details>
                                        <summary>
                                            <span style="color:#005ea5"> Journey time</span>
                                        </summary>
                                        <div class="panel">
                                            <select class="form-control valid select-mode" name="" aria-invalid="false">
                                                <option value="TRANSIT" aria-live="polite">Bus/Train</option>
                                                <option value="WALKING" aria-live="polite">Walking</option>
                                                <option value="BICYCLING" aria-live="polite">Cycling</option>
                                                <option value="DRIVING" aria-live="polite">Driving</option>
                                            </select>
                                            <span class="journey-time" aria-live="polite">5 mins</span>
                                        </div>
                                    </details>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-body-s">Website</td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-body-s" target="_blank" href="http://www.newham.ac.uk" style="word-break: break-all;">http://www.newham.ac.uk</a>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-body-s">Email</td>
                                <td class="govuk-table__cell govuk-body-s"><a href="mailto: externalenquiries@newham.ac.uk" style="word-break: break-all;"> externalenquiries@newham.ac.uk</a> </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-body-s">Phone</td>
                                <td class="govuk-table__cell govuk-body-s">020 8257 4446</td>
                            </tr>
                        </tbody>
                    </table>
                    <details>
                        <summary style="position: relative;top:-10px">
                            <span style="color:#005ea5;">Other dates and venues</span>
                        </summary>
                        <div class="panel">
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__header govuk-body-s" scope="col">Venue</td>
                                        <td class="govuk-table__header govuk-body-s" scope="col">Start date</td>
                                        <td class="govuk-table__header govuk-body-s" scope="col">Options</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-body-s">Clarence Street</td>
                                        <td class="govuk-table__cell govuk-body-s">Variable</td>
                                        <td class="govuk-table__cell govuk-body-s">
                                            <a href="#">View course</a>
                                        </td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell govuk-body-s" style="border-bottom: none">Boswall Street</td>
                                        <td class="govuk-table__cell govuk-body-s" style="border-bottom: none">Variable</td>
                                        <td class="govuk-table__cell govuk-body-s" style="border-bottom: none">
                                            <a href="#">View course</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </details>

                    <hr>

                </aside>
            </section>


        </div>
    </div>





<!-- DO: here ends static code  -->


    <br /><br /><br /><br /><br /><br /><br />



<h2>CourseDetails</h2>
<div class="column-full">
    <div class="search-result-item">
        <div class="result-item-qualification-level">@Model.QualificationLevel.GetDisplayName()</div>
        <ul class="result-item-course-attendence-study-mode-info">
            <li>@Model.CourseId</li>
           

            @if (Model.IsDisplayble(Model.StudyMode))
            {
            <li>@Model.StudyMode.GetDisplayName()</li>
            }
            @if (Model.IsDisplayble(Model.AttendanceMode) && Model.IsDisplayble(Model.StudyMode))
            {
            <li> | @Model.AttendanceMode.GetDisplayName() </li>
            }
            else if (Model.IsDisplayble(Model.AttendanceMode))
            {
            <li>@Model.AttendanceMode.GetDisplayName()</li>
            }
            @if (Model.IsDisplayble(Model.AttendencePattern) && Model.IsDisplayble(Model.AttendanceMode))
            {
            <li> | @Model.AttendencePattern.GetDisplayName() </li>
            }
            else if (Model.IsDisplayble(Model.AttendencePattern))
            {
            <li>@Model.AttendencePattern.GetDisplayName()</li>
            }
        </ul>
        <ul class="result-item-course-info">
            <li>
                <span class="label">Provider:</span>
                <span class="value">@Model.ProviderName</span>
            </li>
            <li>
                <span class="label">Location:</span>
                <span class="value">@Model.Location</span>
            </li>
            @if (!string.IsNullOrWhiteSpace(Model.Location))
            {
            <li>
                <span class="label">Distance:</span>
                <span class="value">@Model.Distance miles</span>
            </li>
            }
            <li>
                <span class="label">Start date:</span>
                <span class="value">@Model.StartDate</span>
            </li>
            <li>
                <span class="label">Duration:</span>
                <span class="value">@Model.Duration</span>
            </li>
        </ul>
    </div>
</div>