@using Dfc.FindACourse.Common;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using Dfc.FindACourse.Web.HtmlHelpers;
@using Dfc.FindACourse.Web.ViewModels.CourseDirectory;
@using System.Web;
@model Dfc.FindACourse.Web.ViewModels.CourseDirectory.CourseSearchResultViewModel;

@{
    ViewData["Title"] = "CourseSearchResult";
}

<form id="FindACourseForm"
      name="FindACourseForm"
      class="form-result-page"
      method="get"
      asp-controller="CourseDirectory"
      asp-action="CourseSearchResult">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-xlarge visuallyhidden">Search results for</h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <div class="grid-row">
                <div class="column-full">
                    @{
                        var inputValidationErrorCssClass = (Model.LocationHasError) ? "input-validation-error" : string.Empty;
                        var formGroupErrorCssClass = (Model.LocationHasError) ? "error" : string.Empty;
                    }

                    <div class="form-group">
                        @if (Model.LocationHasError)
                        {
                            <span asp-validation-for="Location" class="field-validation-error">@Model.LocationError</span>
                        }
                        else
                        {
                            <span asp-validation-for="Location"></span>
                        }

                        <input asp-for="Location"
                               class="postcode-search @inputValidationErrorCssClass"
                               placeholder="Postcode"
                               autocomplete="off"
                               type="text"
                               value="@Model.Location" />
                        <input class="button" type="submit" id="Search" name="Search" value="Search">
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="column-full">
                    <div class="accordion" id="LocationRadiusFilter">
                        <div class="accordion-header">
                            <div class="accordion-heading">Distance</div>
                            <span class="accordion-header-icon"></span>
                        </div>
                        <div class="accordion-panel">
                            <div class="form-group">
                                <ul>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadius1Mile" value="1" @Model.LocationRadiusChecked(1) />
                                            <label for="LocationRadius1Mile">1 mile</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadius3Miles" value="3" @Model.LocationRadiusChecked(3) />
                                            <label for="LocationRadius3Miles">3 miles</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadius5Miles" value="5" @Model.LocationRadiusChecked(5) />
                                            <label for="LocationRadius5Miles">5 miles</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadius10Miles" value="10" @Model.LocationRadiusChecked(10) />
                                            <label for="LocationRadius10Miles">10 miles</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadius15Miles" value="15" @Model.LocationRadiusChecked(15) />
                                            <label for="LocationRadius15Miles">15 miles</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadius20Miles" value="20" @Model.LocationRadiusChecked(20) />
                                            <label for="LocationRadius20Miles">20 miles</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="LocationRadius" id="LocationRadiusNational" value="1000" @Model.LocationRadiusChecked(1000) />
                                            <label for="LocationRadiusNational">National</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="StudyModeFilter">
                        <div class="accordion-header">
                            <div class="accordion-heading">Full-time or part-time</div>
                            <div class="accordion-subheading">@Model.StudyModeSelectedText()</div>
                            <span class="accordion-header-icon"></span>
                        </div>
                        <div class="accordion-panel">
                            <div class="form-group">
                                <ul>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-all" name="StudyModes" id="StudyModeAll" value="all" @Model.StudyModeAllChecked() />
                                            <label for="StudyModeAll">Show all</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="StudyModes" id="StudyModeFullTime" value="1" @Model.StudyModeChecked(1) />
                                            <label for="StudyModeFullTime">Full Time</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="StudyModes" id="StudyModePartTime" value="2" @Model.StudyModeChecked(2) />
                                            <label for="StudyModePartTime">Part Time</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="StudyModes" id="StudyModeFlexible" value="4" @Model.StudyModeChecked(4) />
                                            <label for="StudyModeFlexible">Flexible</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="AttendanceModeFilter">
                        <div class="accordion-header">
                            <div class="accordion-heading">Classroom or online</div>
                            <div class="accordion-subheading">@Model.AttendanceModeSelectedText()</div>
                            <span class="accordion-header-icon"></span>
                        </div>
                        <div class="accordion-panel">
                            <div class="form-group">
                                <ul>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-all" name="AttendanceModes" id="AttendanceModeAll" value="all" @Model.AttendanceModeAllChecked() />
                                            <label for="AttendanceModeAll">Show all</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="AttendanceModes" id="AttendanceModeClassroom" value="1" @Model.AttendanceModeChecked(1) />
                                            <label for="AttendanceModeClassroom">Classroom</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="AttendanceModes" id="AttendanceModeWorkbased" value="3" @Model.AttendanceModeChecked(3) />
                                            <label for="AttendanceModeWorkbased">Workbased</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="AttendanceModes" id="AttendanceModeOnlineDistanceLearning" value="5" @Model.AttendanceModeChecked(5) />
                                            <label for="AttendanceModeOnlineDistanceLearning">Online/Distance learning</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="AttendancePatternFilter">
                        <div class="accordion-header">
                            <div class="accordion-heading">Day, night or weekend</div>
                            <div class="accordion-subheading">@Model.AttendancePatternSelectedText()</div>
                            <span class="accordion-header-icon"></span>
                        </div>
                        <div class="accordion-panel">
                            <div class="form-group">
                                <ul>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-all" name="AttendancePatterns" id="AttendancePatternAll" value="all" @Model.AttendancePatternAllChecked() />
                                            <label for="AttendancePatternAll">Show all</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="AttendancePatterns" id="AttendancePatternNormal" value="1" @Model.AttendancePatternChecked(1) />
                                            <label for="AttendancePatternNormal">Normal working hours</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="AttendancePatterns" id="AttendancePatternDayBlock" value="2" @Model.AttendancePatternChecked(2) />
                                            <label for="AttendancePatternDayBlock">Day release/Block release</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="AttendancePatterns" id="AttendancePatternEveningWeekend" value="3" @Model.AttendancePatternChecked(3)/>
                                            <label for="AttendancePatternEveningWeekend">Evening/Weekend</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="QualificationLevelFilter">
                        <div class="accordion-header">
                            <div class="accordion-heading">Qualification level</div>
                            <a href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels"> What qualification levels mean</a>
                            <div class="accordion-subheading">@Model.QualificationLevelSelectedText()</div>
                            <span class="accordion-header-icon"></span>
                        </div>
                        <div class="accordion-panel">
                            <div class="form-group">
                                <ul>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-all" name="QualificationLevels" id="AttendancePatternAll" value="all" @Model.QualificationLevelAllChecked() />
                                            <label for="QualificationLevelAll">All</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="AttendancePatternEntryLevel" value="0" @Model.QualificationLevelChecked(0) />
                                            <label for="QualificationLevelEntryLevel">Entry level</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel1" value="1" @Model.QualificationLevelChecked(1) />
                                            <label for="QualificationLevelLevel1">Level 1</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel2" value="2" @Model.QualificationLevelChecked(2) />
                                            <label for="QualificationLevelLevel2">Level 2</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel3" value="3" @Model.QualificationLevelChecked(3) />
                                            <label for="QualificationLevelLevel3">Level 3</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel4" value="4" @Model.QualificationLevelChecked(4) />
                                            <label for="QualificationLevelLevel4">Level 4</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel5" value="5" @Model.QualificationLevelChecked(5) />
                                            <label for="QualificationLevelLevel5">Level 5</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel6" value="6" @Model.QualificationLevelChecked(6) />
                                            <label for="QualificationLevelLevel6">Level 6</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel7" value="7" @Model.QualificationLevelChecked(7) />
                                            <label for="QualificationLevelLevel7">Level 7</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="checkbox" class="multiple-choice-item" name="QualificationLevels" id="QualificationLevelLevel8" value="8" @Model.QualificationLevelChecked(8) />
                                            <label for="QualificationLevelLevel8">Level 8</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="IsDfe1619FundedFilter">
                        <div class="accordion-header">
                            <div class="accordion-heading">Age suitability</div>
                            <span class="accordion-header-icon"></span>
                        </div>
                        <div class="accordion-panel">
                            <div class="form-group">
                                <ul>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="IsDfe1619Funded" id="IsDfe1619FundedAll" value="all" @Model.IsDfe1619FundedAllChecked() />
                                            <label for="IsDfe1619FundedAll">All ages</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="IsDfe1619Funded" id="IsDfe1619Funded16To19" value="true" @Model.IsDfe1619FundedChecked(true) />
                                            <label for="IsDfe1619Funded16To19">16 to 19 year-olds</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="multiple-choice">
                                            <input type="radio" name="IsDfe1619Funded" id="IsDfe1619Funded19plus" value="false" @Model.IsDfe1619FundedChecked(false) />
                                            <label for="IsDfe1619Funded19plus">19+ year-olds</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a href="#" id="ClearAlFilters">Clear all filters</a>
                </div>
            </div>
        </div>
        <div class="column-two-thirds">
            <div class="grid-row">
                <div class="column-full">
                    <div class="form-group">
                        <div class="auto-complete-container">
                            <span asp-validation-for="SubjectKeyword"></span>
                            <input asp-for="SubjectKeyword"
                                   class="form-control form-control-1-1"
                                   autocomplete="off"
                                   placeholder="Enter a course name or subject" />
                            <ul id="course-list"></ul>
                            <input class="button" type="submit" id="Search" name="Search" value="Search" />
                        </div>
                    </div>
                    <div class="download-link">
                        <a href="javascript:void(0)" onclick="window.print();">Print or download these search results</a>
                    </div>
                    <div class="showing-container">
                        Showing @Model.ShowingFrom() @Model.ShowingTo() @Model.NoOfRecords results
                    </div>
                    <div class="pagination-container">
                        @if (Model.Items.Any() && Model.NoOfPages > 1)
                        {
                            <dfc-pagination dfc-pagination-no-of-pages="@Model.NoOfPages"
                                            dfc-pagination-url="@Context.Request.GetDisplayUrl()"
                                            dfc-pagination-param-name="@nameof(Model.PageNo)"
                                            dfc-pagination-display-no-of-pages="5"
                                            class="pagination page-top"></dfc-pagination>
                        }
                    </div>
                    <div class="form-group margin-bottom-0 form-spacer">
                        <label class="form-label inline" for="SortBy">Sort by:</label>
                        <dfc-select id="SortBy"
                                    name="SortBy"
                                    class="form-control form-control-1-4"
                                    dfc-selected-item="Html.GetEnumSelectListItem<CourseSearchResultViewModel, SortBy>(Model.SortBy)"
                                    dfc-items="Html.GetEnumSelectList<SortBy>()"
                                    dfc-ignored-item-values="new Enum[] { SortBy.StartDate }">
                        </dfc-select>
                    </div>
                    <hr class="bold-line" />
                </div>
            </div>
            <div class="grid-row">
                <div class="column-full">
                    @if (Model.Items.Any())
                    {
                        <div class="search-results">
                            @foreach (var item in Model.Items)
                            {
                                <div class="search-result-item">
                                    <h3>
                                        <a asp-action="CourseDetails" asp-route-id="@item.Id" asp-route-distance="@item.Distance">@item.CourseTitle</a>
                                    </h3>
                                     @if (item.QualificationLevel != QualificationLevel.LevelNa)
                                     {
                                         <div class="result-item-qualification-level">@item.QualificationLevel.GetDisplayName()</div>
                                     }

                                    <ul class="result-item-course-attendence-study-mode-info">
                                        @if (item.IsDisplayable(item.StudyMode))
                                        {
                                            <li>@item.StudyMode.GetDisplayName()</li>
                                        }

                                        @if (item.IsDisplayable(item.AttendanceMode) && item.IsDisplayable(item.StudyMode))
                                        {
                                            <li> | @item.AttendanceMode.GetDisplayName() </li>
                                        }
                                        else if (item.IsDisplayable(item.AttendanceMode))
                                        {
                                            <li>@item.AttendanceMode.GetDisplayName()</li>
                                        }

                                        @if (item.IsDisplayable(item.AttendencePattern) && (item.IsDisplayable(item.AttendanceMode) || item.IsDisplayable(item.StudyMode)))
                                        {
                                            <li> | @item.AttendencePattern.GetDisplayName() </li>
                                        }
                                        else if (item.IsDisplayable(item.AttendencePattern))
                                        {
                                            <li>@item.AttendencePattern.GetDisplayName()</li>
                                        }
                                    </ul>
                                    <ul class="result-item-course-info">
                                        <li>
                                            <span class="label">Provider:</span>
                                            <span class="value">@item.ProviderName</span>
                                        </li>
                                        <li>
                                            <span class="label">Location:</span>
                                            <span class="value">@item.Location</span>
                                        </li>
                                        @if (!string.IsNullOrWhiteSpace(Model.Location))
                                        {
                                            <li>
                                                <span class="label">Distance:</span>
                                                <span class="value">@item.Distance miles</span>
                                            </li>
                                        }
                                        <li>
                                            <span class="label">Start date:</span>
                                            <span class="value">@item.StartDate</span>
                                        </li>
                                        <li>
                                            <span class="label">Duration:</span>
                                            <span class="value">@item.Duration</span>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>

                        if (Model.Items.Any() && Model.NoOfPages > 1)
                        {
                            <dfc-pagination dfc-pagination-no-of-pages="@Model.NoOfPages"
                                            dfc-pagination-url="@Context.Request.GetDisplayUrl()"
                                            dfc-pagination-param-name="@nameof(Model.PageNo)"
                                            dfc-pagination-display-no-of-pages="10"
                                            class="pagination page-bottom"></dfc-pagination>
                        }
                    }
                    else
                    {
                        <p>There are no courses matching that name. Make sure that you've spelled it correctly, or use a broader description of the course.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

